<div class="country-info__name">
    <img class="country-list__image" src="{{this.flags.svg}}" alt="Flags in {{this.name.official}}" width="30" height="30">
    <b>{{this.name.official}}</b>
</div>
<span><b>Capital:</b> {{this.capital}}</span>
<span><b>Population:</b> {{this.population}}</span>
<span><b>Languages:</b> {{this.languages}}</span>